
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000;
    font-family:;
}
.logo{
    color:#ffff;
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    }

    .nav-links{
         display:flex;
         justify-content:space-between;
         width:100%;
     }
     .nav-links li{
         list-style:none;
         width:0%;
     }
    .nav-links a{
        text-decoration:none;
        letter-spacing: 3px;
        font-weight:bold;
        font-size:;
        font-family: 'Poppins', sans-serif;
        color:#ffff;
    }
    .nav-links a:hover{
        color:#2b8221;
    }

    .hamburger{
        display: none;
    }

    .hamburger div{
        width: 25px;
        height: 5px;
        background-color: #fff;
        margin: 5px;
    }

    .slantedDiv{
        position: relative;
        background: url('../images/hm1.jpg') no-repeat;
        background-size: cover;
        overflow:;
        /* background: yellow; */

        width: 100%;
        height: 500px;
        /* padding: 30px;
        margin-bottom: 100px; */
    }
    .slantedDiv:after{
        position: absolute;
        content: '';
        background: inherit;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;;
        bottom: 0;
        height: 100%;
        transform-origin: top left;
        transform: skewY(8deg);
        z-index: -5;
    }

    .slantedDiv p{
        color: #ffff;
        width: 100%;
        font-size: 55px;
        text-align: center;
        /* margin-left: 100px; */
        padding: 120px;
    }

    .slantedDiv2{
        padding:;
        width: 100%;
        padding: 180px;
        /* padding: 30px;
        margin-bottom: 100px; */
    }
    .slantedDiv2 p{
        width: 100%;
        font-size: 55px;

    }
    .slantedDiv2 .green{
        color: green;

    }

    footer{
        background:#211f1d;
        padding: 30px 0;
        border-top: 10px solid #ffff;
    }

    footer h4{
        margin:0;
        text-decoration: none;
        font-size: 20px;
        color: #ffff;
    }
    footer ul li{
        color: #ffff;
        text-decoration: none;
        width: 80%;
        margin: 20px 0;
        font-size: 14px;
        line-height: 1.6em;
    }
    footer ul{
        float: left;
        list-style: none;
        width:15%;
        margin-left: 180px;
    }
    footer:after{
        content: "";
        display: block;
        clear:both;
    }
    
    

    @media screen and (max-width:1024px){
        .nav-links{
            width: 60%;
        }
        .slantedDiv p{
           
            font-size: 30px;
            
        }
    }

    @media screen and (max-width: 768px){
        body{
            overflow: hidden;
        }
        .nav-links{
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 6vh;
            background-color: #000;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-links li{
            /* opacity: 0; */
        }
        .hamburger{
            display: block;
        }
        .slantedDiv p{
           
            font-size: 40px;
            
        }
        .slantedDiv2 p{
            
            font-size: 30px;
    
        }
        .slantedDiv2{
            
            padding: 90px;
            /* padding: 30px;
            margin-bottom: 100px; */
        }
    }

    .nav-active{
        transform: translateX(0%);
    }