<!DOCTYPE html>
<html>
<title>9JAZZ | Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<form class="w3-container w3-card-4" action="/action_page.php">
  <h2 class="w3-text-blue">Login</h2>
  <p>      
  <label class="w3-text-blue"><b>Full Name</b></label>
  <input class="w3-input w3-border" name="first" type="text"></p>
  <p>      
  <label class="w3-text-blue"><b>Email</b></label>
  <input class="w3-input w3-border" name="last" type="email"></p>
  <p>      
  <button class="w3-btn w3-blue">Login</button></p>
</form>

</body>
</html> 